@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
    ViewData["Title"] = "Login";
}
@{
}
<head>
    <link rel="stylesheet" href="~/css/LoginPage.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
</head>
<body>
    <div class="Two-cols">
        <div class="left-div"></div>
        <div class="right-div">
          <div class="card">
              <h3 class="card-title">Sign In</h3>
              <div class="form-group">

                  <input type="email" placeholder="Enter your mail" class="input-fields" />
                    <input type="password" placeholder="Password" class="input-fields" />
                    <a class="LinkToReset" asp-area="" asp-controller="Account" asp-action="ResetPassword">Forgot Password ?</a>
                    <button class="signinBtn" type="submit">Sign In</button>

              </div>

           
          </div>

        </div>
    </div>
</body>