@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<head>
    <title>Reset Password</title>
    <link rel="stylesheet" href="~/css/ResetPassPage.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />

</head>
<body>
    <div class="container">
        <div class="column">
            <img src="../Assets/top-logo.png" class="backgroundimg" />

        </div>
        <div class="column">
             <div class="card">
                 <h2 class="title">Forgot Password ?</h2>
                 <div class="sub-title-div">
                 <p class="sub-title">Enter your username to reset password</p>
                 </div>
                 <input type="text" class="input-fields" placeholder="Username"/>
                 <div class="buttons">
                 <button class="submitBtn" type="submit">Submit</button>
                    <a class="submitBtn cancelBtn" href="@Url.Content("~/login")">Cancel</a>

             </div>
             </div>

        </div>
    </div>
</body>
